.portrait {
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
  padding: 5%;
}

.descriptionAndImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--line);
  width: 90%;
  padding: 4vh;
}

.descriptionDiv {
  padding: 2vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.description {
  font-size: .8em;
}