.appContainer {
  padding-top: 3%;
  min-height: 60em;
  border: 2px solid white;
}

.contentAndSidebarDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8%;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  line-height: 2.5em;
  border: 2px solid white;
  font-weight: 400;
  max-width: 85%;
} 

.sidebarDiv {
  border-left: 1px solid var(--line);
  padding-left: 3px;
  height: 28em;
}

.sidebarLine {
  border-bottom: .5px solid var(--line);
  max-width: 50%;
}

.headerLinks {
  font-size: 1.5em;
  text-decoration: none;
}
