.icon {
  border-radius: 5px;
  height: 15px;
  width: auto;
  margin-right: 2%;
}

.githubIcon {
  border: solid 1px var(--line);
  border-radius: 5px;
  height: 13px;
  width: auto;
  margin-right: 2%;
}

.contactDiv {
  display: flex;
  flex-direction: column;
  max-width: 25vh;
  padding-left: 4%;
}

a {
  color: var(--text);
  font-weight: 200;
  cursor: pointer;
}

.disclaimer {
  font-size: .65em;
  font-weight: 300;
  max-width: 90%;
}

.contactLink {
  display: flex;
  margin: 2%;
  font-size: .6em;
  text-decoration: none;
}
