.photoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--line);
  padding: 2vh;
}


.description {
  padding: 2vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: .8em;
  border: 1px solid var(--line);
  margin-bottom: 2%;
}