.sliderDiv {
  display: flex;
  flex-direction: column;
}

.slider {
  border: 1px white solid;
  padding: 2%;
  margin: 2%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliderImage {
  height: 300px;
  width: 375px;
}

.projectName {
  font-family: var(--headerFont);
  font-weight: 400;
  font-size: 1.3em;
  text-decoration: none;
}

.tech {
  font-family: var(--bodyFont);
  font-weight: 300;
  font-size: 1.2em;
}

.githubLabel {
  display: flex;
  flex-direction: row;
}

.githubIcon {
  height: 30px;
  width: auto;
  border-radius: 50%;
  margin-right: 7px;
}