@media all and (max-width: 700px) {
  .sidebarDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    min-width: 150px;
    min-height: 410px;
    border: 1px solid var(--line);
    padding-bottom: 15px;
  }

  .soundsAndThemeDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .soundsDiv {
    min-width: 150px;
  }

  .soundsHeader {
    width: 100%;
    text-align: center;
  }

  .buttonsDiv {
    display: flex;
    padding-left: 33%;
  }

  .themeHeader {
    text-align: center;
  }

  .colorSchemeDiv {
    width: 100%;
  }

  .sidebarLineOne, .sidebarLineTwo {
    min-width: 100%;
  }

  .muteLabel p {
    margin: auto;
    padding-left: 15px;
  }
}

@media all and (max-height: 500px) {
  .sidebarDiv {
    border-left: 1px solid var(--line);
    min-height: 450px;
    min-width: 100px;
    flex-direction: column;
  }
  
  .soundsDiv {
    min-width: 100px;
  }
  
  .themeHeader {
    font-size: 1em;
    margin-bottom: 5%;
  }
}

.sidebarDiv {
  border-left: 1px solid var(--line);
  height: 60vh;
  flex-direction: column;
}

.sidebarLineOne {
  border-bottom: 1px solid var(--line);
  max-width: 60%;
}

.sidebarLineTwo {
  border-bottom: 1px solid var(--line);
  max-width: 80%;
}

.colorSchemeDiv {
  line-height: 1em;
  font-weight: 100;
  font-family: var(--bodyFont);
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
  font-size: .75em;
  padding-left: 4%;
}

.soundsDiv {
  font-size: .75em;
  line-height: 1em;
  font-weight: 100;
  font-family: var(--bodyFont);
  margin-bottom: 2%;
  padding-left: 4%;
  padding-bottom: 5%;
  max-width: 16vh;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: -2%;
}

.soundsHeader {
  font-size: 1.1em;
}

.themeHeader {
  font-size: 1em;
  margin-bottom: 5%;
}

.muteButton {
  opacity: 0;
}

.muteLabel {
  display: flex;
  background-color: var(--background);
  border: 1px solid var(--line);
  outline: none;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 300;
  margin-left: 4%;
  margin-top: 5%;
}

.muteLabel p {
  margin-top: 0;
  margin-left: -40%;
}

input {
  cursor: pointer;
}

button {
  cursor: pointer;
}