@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Roboto Slab', serif;

  --bodyFont: 'Roboto Slab', serif;
  --headerFont: 'Lato', sans-serif;

  --text: white;
  --background: black;
  --line: white;

  cursor: auto;
}

header {
  font-family: var(--headerFont);
  font-size: 1.5em;
  font-weight: 300;
  padding-left: 5%;
}

h1 {
  font-family: var(--headerFont);
}

h2 {
  font-size: 1.2em;
  font-weight: 100;
  padding: 0;
  margin-bottom: 8px;
}

.returnLink {
  font-family: var(--headerFont);
  font-weight: 300;
  font-size: 1em;
}

.contentDiv {
  font-family: var(--bodyFont);
  font-weight: 300;
  padding: 4%;
  max-width: 55%;
  border: 1px var(--line) solid;
}

.contentHeader {
  font-size: 1.8em;
  font-weight: 200;
  padding: 5%;
  margin-bottom: 8px;
}
