.resumeDiv, .skillsDiv, .timelineHeaderDiv, .resumeLink, .resumeSkillsTimelineDiv, .imageEvent, ol, li, .collapsibleHeader, .collapsibleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resumeDiv, .timelineDiv, .skillsDiv, .timelineHeaderDiv, .timelineHeaderDiv, .clickMe, .lineDiv {
  border: 1px solid var(--line);
}

.resumeDiv {
  padding: 2vh;
  margin-bottom: 5vh;
  width: 90%;
}

.timelineDiv {
  padding: 0vh 2vh 0vh 2vh;
  width: 90%;
}

.skillsDiv {
  padding: 2vh;
  width: 90%;
}

.timelineHeaderDiv {
  padding: 2vh;
  margin-top: 4vh;
  width: 90%;
  border-bottom: none;
}

.resumeLink {
  font-family: var(--headerFont);
  font-weight: 300;
  text-decoration: none;
  outline: none;
  font-size: .9em;
}

.clickMe {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: .7em;
  padding: 1vh;
}

.event h2 {
  font-family: var(--headerFont);
  font-weight: 400;
  color: black;
  font-size: 1em;
  margin-bottom: -4%;
}

.event h3 {
  font-family: var(--headerFont);
  font-weight: 300;
  color: black;
  font-size: .8em;
  padding-bottom: 4px;
}

.event p {
  font-family: var(--bodyFont);
  color: black;
  font-weight: 200;
  font-size: .7em;
}

.lineDiv {
  margin: 4%;
  width: 90%;
}

.sectionTitle {
  font-size: 1.2em;
  margin-top: 0;
}

ol, li {
  padding: 0;
  font-weight: 200;
}

.collapsibleHeader {
  font-size: .85em;
  font-weight: 300;
  padding: 2%;
}

.collapsibleDiv {
  cursor: pointer;
  font-family: var(--headerFont);
  min-width: 150px;
}

.collapsibleOpen {
  display: visible;
}

.collapsibleHidden {
  display: none;
}